.produits{
  margin: 10px 50px;
}
.Principal{
  background-color: #d4d2ed;
  margin: 3px 250px;
  border-radius: 3px;
  padding-bottom: 10px;
  .BtnUp{
    .MuiFab-root{
      position: fixed;
      left: 85%;
      top: 80vh;
    }
  }
}

.newAnimat {
	animation: sli 1s ease-in forwards;
	animation-iteration-count: infinite;
}
@keyframes sli {
	0% {
    transform: scale(1);
    opacity: 0.9;
    box-shadow: 0 0 3px #202020;
	}
	70% {
    transform: scale(.9);
    opacity: 0.8;
    box-shadow: 0 0 1px #202020;
	}
	100% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 4px #202020;
	}
}
